@inherits LayoutComponentBase
@implements IDisposable
<div class="">
   
    <main>
        <div class="top-menu">
            <div class="left-side">
                <button type="button" class="btn-none btn-url-logo" @onclick='()=>{NavigationManager.NavigateTo("/");}'>
                    <span class="url-logo"><URLShortener_Client.Icons.UrlLogo Width="50" Height="50" /></span>
                    <span class="app-name">UrLink</span>
                </button>
            </div>
            <div class="right-side">
                @if(Vs.AuthInfo == null)
                {
                    <button class="btn-none btn-signin" @onclick="OpenLoginModal">
                        <span class="font-color"><URLShortener_Client.Icons.SignInIcon Width="25" Height="25" /></span>
                        <span class="font-color d-xs-none">Sign In</span>
                    </button>
                    <button class="btn-none btn-signup" @onclick="OpenSignupModal">
                        <span class="text-light"><URLShortener_Client.Icons.SignUpIcon Width="25" Height="25" /></span>
                        <span class="text-light d-xs-none">Sign Up</span>
                    </button>
                }
                else //if user is a registered user
                {
                    <div class="position-relative">
                        <button type="button" class="btn-none btn-user" @onclick="ToggleUserMenu">
                            <div class="user-icon">
                                <URLShortener_Client.Icons.UserIcon Width="25" Height="25" />
                            </div>
                            <div class="user-info">
                                <div class="user-info-name">@Vs.AuthInfo.UserName</div>
                                @* <div class="user-info-email">@Vs.AuthInfo.Email</div> *@
                            </div>
                        </button>
                        @if (isOpenUserMenu)
                        {
                            <div class="user-menu">
                                <div class="user-menu-item">
                                    <button type="button" class="btn-none user-menu-btn" @onclick='()=>{isOpenUserMenu = false;NavigationManager.NavigateTo("/analytics");}'>
                                        <URLShortener_Client.Icons.GraphIcon Width="20" Height="20" />
                                        Analytics
                                    </button>
                                </div>
                                <div class="user-menu-item">
                                    <button type="button" class="btn-none user-menu-btn" @onclick="ComFn.LogOut">
                                        <URLShortener_Client.Icons.LogoutIcon Width="20" Height="20" />
                                        Log Out
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                    
                }

            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Modal @ref="loginModal" MainModalCss="overflow-hidden" ModalBodyCss="p-30px">
    <ModalBody>
        @if (isOpenLoginModal)
        {
            <URLShortener_Client.Pages.User.SignIn OnModalClose="CloseLoginModal"></URLShortener_Client.Pages.User.SignIn>
        }

    </ModalBody>
</Modal>
<Modal @ref="signUpModal" MainModalCss="overflow-hidden" ModalBodyCss="p-30px">
    <ModalBody>
        @if (isOpenSignupModal)
        {
            <URLShortener_Client.Pages.User.SignUp OnModalClose="CloseSignupModal"></URLShortener_Client.Pages.User.SignUp>
        }

    </ModalBody>
</Modal>

@code{

    private Modal loginModal = new();
    private Modal signUpModal = new();
    private bool isOpenLoginModal,isOpenSignupModal,isOpenUserMenu;

    protected override void OnInitialized()
    {
        Notifier.OnEventAsync += OnReceiveEmit;
    }
    private async Task OnReceiveEmit(string key, object? data ,string? actionName)
    {
        if(key == "OpenSignIn")
        {
            await OpenLoginModal();
        }
        else if(key == "OpenSignUp")
        {
            await OpenSignupModal();
        }
    }
    private async Task CloseLoginModal()
    {
        isOpenLoginModal = false;
        StateHasChanged();
        await loginModal.Close();
    }
    private async Task OpenLoginModal()
    {
        isOpenLoginModal = true;
        StateHasChanged();
        await loginModal.Open();
    }
    private async Task CloseSignupModal()
    {
        isOpenSignupModal = false;
        StateHasChanged();
        await signUpModal.Close();
    }
    private async Task OpenSignupModal()
    {
        isOpenSignupModal = true;
        StateHasChanged();
        await signUpModal.Open();
    }
    private void ToggleUserMenu()
    {
        isOpenUserMenu = !isOpenUserMenu;
    }
    public void Dispose()
    {
        Notifier.OnEventAsync -= OnReceiveEmit;
    }
}