html, body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


.content {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

code {
    color: #c02d76;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/*Modal CSS*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
   
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .modal.show {
        display: block;
        opacity: 1;
    }

.modal-dialog {
    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    margin: 1.75rem auto;
}

.modal.show .modal-dialog {
    transform: translateY(0);
}
.modal-header {
    justify-content: flex-end;
    padding: 0 10px 0 10px;
}
.btn-modal-close span {
    font-size: 32px;
    color: #625252;
}
/*---------------------*/
/*------------------*/
.disabled {
    opacity: 0.5;
}
.fs-48px{
    font-size: 48px;
}
.fs-24px{
    font-size: 24px;
}
.fs-20px{
    font-size: 20px;
}
.p-30px{
    padding: 20px;
}
.btn-none{
    border:none;
    background:none;
    outline: none;
}
.blue-color {
    color: #235ce5 !important;
}
.font-color {
    color: #4b5563 !important;
}
.top-menu {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.top-menu .left-side{
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-menu .right-side {
    display: flex;
    align-items: center;
    gap: 16px;
}
.app-name {
    font-weight: bold;
    font-size: 32px;
}

.url-logo {
    color: #235ce5;
}
.btn-url-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-signup {
    padding: 10px;
    background: #235ce5;
    border-radius: 10px;
}
.btn-signin span, .btn-signup span{
    font-weight: bold;
}
.first-headline, .second-headline{
    font-weight: bold;
    font-size: 64px;
}
@media(max-width: 450px){
    .first-headline, .second-headline {
        font-size: 48px;
    }
}
.second-headline {
    color: #235ce5;
}
.detail-headline {
    max-width: 672px;
    margin: 20px auto 0 auto;
    font-size: 24px;
    color: #4b5563;
}
@media(max-width: 450px){
    .detail-headline {
        font-size: 20px;
    }
}
.shorten-section {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.shorten-url-logo {
    padding: 15px;
    background: #d6d6e8;
    border-radius: 50%;
    color: #235ce5;
}
.shorten-input {
    height: 70px;
    border: 2px solid lightgray;
    border-radius: 10px;
    /*width: 500px;*/
    width: 100%;
    padding: 10px;
    outline: none;
}
@media (max-width: 780px){
    .shorten-input {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }
}
.shorten-link-desc {
    font-size: 24px;
    color: #4b5563;
}
@media(max-width: 450px){
    .shorten-link-desc {
        font-size: 20px;
    }
}
.btn-shorten {
    background: #235ce5;
    height: 70px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
}
.btn-shorten-container{
    text-align: center;
    margin-top: 15px;
}
.shorten-input-container {
    text-align: center;
    padding: 0 20% 0 20%;
}
.extra-feature-container {
    padding: 0 20% 0 20%;
    margin: 20px 0 30px 0;
}
@media(max-width: 1100px){
    .shorten-input-container {
        padding: 0 15% 0 15%;
    }
    .extra-feature-container {
        padding: 0 15% 0 15%;
    }
}
@media(max-width: 650px) {
    .shorten-input-container {
        padding: 0;
    }

    .extra-feature-container {
        padding: 0;
    }
}

.extra-feat-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.features-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
@media (max-width: 600px){
    .features-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.feature-highlight {
    color: #235ce5;
    font-size: 36px;
    font-weight: bold;
}

.feature-desc {
    color: #4b5563;
}
.why-choose-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}
@media (max-width: 600px) {
    .why-choose-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width: 400px) {
    .why-choose-container {
        grid-template-columns: 1fr;
    }
}
.why-choose-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
}

.why-choose-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

    .why-choose-icon.lightning-color {
        background: #c5d6f1;
        color: #235ce5;
        border-radius: 10px;
    }

.why-choose-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.why-choose-desc {
    color: #4b5563;
}

.why-choose-icon.graph-color {
    background: #b5e5b5;
    color: #098009;
    border-radius: 10px;
}
.why-choose-icon.qr-color {
    background: #ffd891;
    color: #da9008;
    border-radius: 10px;
}

.why-choose-icon.secure-color {
    background: #f3c1ff;
    color: #ba2cb6;
    border-radius: 10px;
}
.why-main-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 20px 0;
}
.ready-container {
    margin-top: 60px;
    background: #235ce5;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

.ready-main-title {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}
@media (max-width: 450px){
    .ready-main-title {
        font-size: 24px;
    }
}

.ready-main-desc {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
@media (max-width: 450px){
    .ready-main-desc {
        font-size: 18px;
    }
}
.create-acc-container {
    text-align: center;
    margin-top: 30px;
}

.create-acc-btn {
    background: white;
    color: #235ce5;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}
@media(max-width: 450px){
    .create-acc-btn {
        font-size: 18px;
    }
}
.footer-section {
    margin: 50px 0 10px 0;
    text-align: center;
    color: #4b5563;
}
.error-text{
    color: red;
    font-weight: bold;

}
input.error {
    border: 1px solid red !important;
}
.blink {
    animation: blink 2s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
.btn-user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-icon {
    background: darkgray;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.user-info-name {
    font-weight: 600;
}
.user-menu {
    position: absolute;
    background: white;
    padding: 10px;
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 10px;
    right: 0;
    top: 45px;
}

.user-menu-btn {
    width: 100%;
    text-align: left;
    padding: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #4b5563;
    font-weight: 600;
}
.shorten-success-icon {
    background: #bcfcbc;
    color: green;
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.completed-container {
    margin-top: 20px;
}

.success-container {
    margin: 10px 0 30px 0;
}

.success-title {
    font-weight: bold;
    text-align: center;
    font-size: 28px;
}

.success-text {
    text-align: center;
    color: #4b5563;
    font-size: 18px;
}

.success-url-container {
    padding: 15px;
}

.success-url-title {
    font-weight: bold;
}

.success-url {
    margin: 10px;
}

.btn-copy-url {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #235ce5;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.qrImg{
    width: 35%;
    height: 35%;
}
.btn-download-qr {
    color: #235ce5;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.qr-title {
    color: #4b5563;
    font-weight: 600;
    font-size: 14px;
}
.btn-shorten-another {
    color: #4b5563;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}
/*-------------------*/
/*Sign in form*/
.form-input-title {
    font-weight: 500;
    margin-bottom: 10px;
}

input.text-input {
    padding: 15px;
    width: 100%;
    border: 1px solid darkgray;
    border-radius: 10px;
    outline: none;
}

.input-container {
    margin-bottom: 15px;
}

button.btn-primary-signin {
    width: 100%;
    background: #235ce5;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
}

.signin-btn-container {
    padding-top: 20px;
}

.sign-in-footer {
    text-align: center;
    margin-top: 20px;
}

button.btn-none.btn-signup-link {
    color: #235ce5;
    font-weight: 600;
    text-decoration: underline;
}

.login-input-form {
    margin-top: 30px;
}

/*----------------------*/

/*Message Modal*/
.modal-content{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.message-close-container {
    text-align: right;
}

.message-type-icon {
    background: #5656ef;
    color: white;
    border-radius: 50%;
}

.message-modal-container {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.message-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
/*------------------*/

/*Analytics Dashboard*/
.analytics-head-section {
    background: #235ce5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

span.analytics-header-text {
    font-size: 32px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.analytics-desc {
    font-size: 18px;
    color: white;
    margin-top: 10px;
}

.summary-cards-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0 20px 0;
}
@media (max-width: 700px){
    .summary-cards-section {
        grid-template-columns: 1fr;
    }
}

.summary-card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px;
    border-radius: 10px;
}

.summary-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.summary-header-text {
    color: #4b5563;
    font-weight: 600;
    font-size: 18px;
}

.summary-num {
    font-size: 26px;
    font-weight: bold;
}
.summary-card.total-click {
    border-left: 5px solid #235ce5;
}

.summary-card.total-urls {
    border-left: 5px solid #26c526;
}

.summary-card.avg-clicks {
    border-left: 5px solid #f9b841;
}
.total-click .summary-header-icon {
    color: #235ce5;
}

.total-urls .summary-header-icon {
    color: #26c526;
}

.avg-clicks .summary-header-icon {
    color: #f9b841;
}
.chart-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
@media (max-width: 1024px){
    .chart-section {
        grid-template-columns: 1fr;
    }
}
.chart-card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px;
    border-radius: 10px;
}

.chart-card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chart-card-icon.last7days, .chart-card-icon.deviceTypes {
    color: #235ce5;
}

.chart-card-text {
    font-weight: bold;
    font-size: 18px;
}

.chart-card-body {
    padding: 10px;
}

.chart-card-icon.top-performing, .chart-card-icon.top-countries {
    color: #06b506;
}
.top-url-container {
    display: flex;
    justify-content: space-between;
    background: #f1f5f6;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.top-url-leftside {
    display: flex;
    gap: 15px;
}

.top-url-index {
    background: #c2e5ff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #235ce5;
    font-weight: bold;
    height: 50px;
    padding: 10px;
}

.top-url-rightside {
    text-align: center;
}

.top-url-numclick {
    font-size: 20px;
    font-weight: bold;
}

/*---------------------*/