@page "/analytics"

@if (isFinished)
{
    <div class="analytics-container">
        <div class="analytics-head-section">
            <div class="d-flex align-items-center">
                <span class="text-white"><URLShortener_Client.Icons.GraphIcon Width="40" Height="40" /></span>
                <span class="analytics-header-text">Analytics Dashboard</span>
            </div>
            <div class="analytics-desc">Track performance and insights for all your shortened URLs</div>
        </div>
        <div class="summary-cards-section">
            <div class="summary-card total-click">
                <div class="summary-header">
                    <div class="summary-header-text">Total Clicks</div>
                    <div class="summary-header-icon"><URLShortener_Client.Icons.ClickIcon Width="25" Height="25" /></div>
                </div>
                <div class="summary-num">
                    @summaryData.TotalClicks
                </div>
            </div>
            <div class="summary-card total-urls">
                <div class="summary-header">
                    <div class="summary-header-text">Total URLs</div>
                    <div class="summary-header-icon"><URLShortener_Client.Icons.UrlLogo2 Width="25" Height="25" /></div>
                </div>
                <div class="summary-num">
                    @summaryData.TotalShortUrls
                </div>
            </div>
            <div class="summary-card avg-clicks">
                <div class="summary-header">
                    <div class="summary-header-text">Avg. Clicks</div>
                    <div class="summary-header-icon"><URLShortener_Client.Icons.GraphIcon Width="25" Height="25" /></div>
                </div>
                <div class="summary-num">
                    @summaryData.AverageClicks
                </div>
            </div>
        </div>
        <div class="chart-section">
            <div class="chart-card">
                <div class="chart-card-header">
                    <div class="chart-card-icon last7days"><URLShortener_Client.Icons.CalendarIcon Width="30" Height="30" /></div>
                    <div class="chart-card-text">Last 7 Days Activity</div>
                </div>
                <div class="chart-card-body">
                    <canvas class="w-100 h-100" id="last7days-chart"></canvas>
                </div>

            </div>
            <div class="chart-card">
                <div class="chart-card-header">
                    <div class="chart-card-icon top-performing"><URLShortener_Client.Icons.RisingArrowLineIcon Width="30" Height="30" /></div>
                    <div class="chart-card-text">Top Performing URLs</div>
                </div>
                <div class="chart-card-body">
                </div>

            </div>

        </div>
    </div>
}
<MessageModal @ref="messageModal"></MessageModal>
@code {
    private MessageModal messageModal = new();
    private Dto_ClickSummary summaryData = new();
    private List<Dto_DailyClickCount> last7DaysData = new();
    private bool isFinished;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Vs.IsLoading = true;
            await Task.WhenAll(GetSummaryData(), GetLast7DaysActivity());
            isFinished = true;
            StateHasChanged();
            await CreateCharts();
            Vs.IsLoading = false;
        }
    }

    private async Task GetSummaryData()
    {
        try
        {

            var result = await ApiClient.GetAsync<DataResult<Dto_ClickSummary>>($"api/analytics/getsummary");
            if (result != null && result.Success)
            {
                if (result.Data != null)
                {
                    summaryData = result.Data;
                }
                else
                {
                    summaryData = new();
                }

            }
            else
            {
                Vs.IsLoading = false;
                await messageModal.ShowMessage(MessageType.Info, string.Empty, result?.Message ?? "Something went wrong.");

            }


        }
        catch (Exception ex)
        {
            Vs.IsLoading = false;
            await messageModal.ShowMessage(MessageType.Error, "Critical Message", ex.Message);
        }
    }
    private async Task GetLast7DaysActivity()
    {
        try
        {
            var result = await ApiClient.GetAsync<DataResult<List<Dto_DailyClickCount>>>($"api/analytics/getlast7days");
            if (result != null && result.Success)
            {
                if (result.Data != null)
                {
                    last7DaysData = result.Data;
                }
                else
                {
                    last7DaysData = new();
                }
            }
            else
            {
                Vs.IsLoading = false;
                await messageModal.ShowMessage(MessageType.Info, string.Empty, result?.Message ?? "Something went wrong.");
            }
        }
        catch(Exception ex)
        {
            Vs.IsLoading = false;
            await messageModal.ShowMessage(MessageType.Error, "Critical Message", ex.Message);
        }
    }
    private async Task CreateCharts()
    {
        await JS.InvokeVoidAsync("AppJS.createLast7DaysChart", "last7days-chart", last7DaysData);
        StateHasChanged();
    }
}
